header {
	background: #ffffff;
	padding: 20px 0;
	background: url("bg.jpg");
}
body{
	background: #000000;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 31px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	font-family: sans-serif;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


main {
	width: 940px;
	margin: 0 auto;
	color: wheat;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* CSS DA PAGINA INICIAL */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em;
	clear: left;

}

.principal p {
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold; /* deixa o texto em negrito */
}

.principal em {
	font-style: italic; /* Estilo da fonte */
}

.utensilios {
	width: 120px;
	float: left; /* Tanto o float:left quanto o float: right servem para que o elemento se destaque na tela, deixe de ocupar o espaço em que estava, para que os outros elementos possam se posicionar ao redor dele */
	margin: 0 20px 20px 0;
}

.imagemBeneficios {
	width: 60%; /* largura */
}
.beneficios{
    width: 70%;
    display: grid;
    align-items: center;
    justify-content: center;
	margin-bottom: 25px;
}

.card {
	width: 752px;
	height: 254px;
	border-radius: 4px;
	background: #212121;
	display: flex;
	gap: 5px;
	padding: .4em;
  }
  
  .card p {
	height: 100%;
	flex: 1;
	overflow: hidden;
	cursor: pointer;
	border-radius: 2px;
	transition: all .5s;
	background: #212121;
	border: 1px solid wheat;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .card p:hover {
	flex: 4;
  }
  
  .card p span {
	min-width: 14em;
	padding: .5em;
	text-align: center;
	transform: rotate(-90deg);
	transition: all .5s;
	text-transform: uppercase;
	color: wheat;
	letter-spacing: .1em;
  }
  
  .card p:hover span {
	transform: rotate(0);
  }
  
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}